 <!-- landing.html

 -->

<style>
.blobimgdiv2{
  max-width: 396px;
}

.article{
  width: 400px;
  min-height: 500px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin: 20px;
}

</style>

<!--   <script type="text/javascript">
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();  
    });
  </script> -->

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Welcome</h2>
    <a type="button" class="btn btn-primary" ng-href="#/login"  title="Log in to view website data">Login</a>
  </div>
</div>


