<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>pdf Template</h2>

<!--   Displaying the selected pdf Templates detail as JSON, the controller used is pdf_controller found in the pdfs.js file as linked by the app.js file, the function used to connect to the back-end is  ui_get_pdf_button -->

    <pre ng-bind="ui | json" ></pre>		
  </div>
</div>

<!--   An Edit button that calls the function ui_edit_pdf_button(), that is found in the pdfs.js file under the pdf controller, that changes the location to ('/pdf_edit/' + $scope.ui._id), which in turn alerts the app.js file to redirect the browser to src/pdfs/pdf_edit.html and look in the edit_pdf_controller found in the pdfs.js file for instructions  -->

<!-- <div class="row">
  <div class="col-md-10 col-md-offset-1">
      <button type="button" class="btn btn-primary" ng-click="ui_edit_pdf_button()">Edit pdf Template</button>						
  </div>
</div>
 -->

<div class="col-md-1 col-sm-offset-1">
  <div class="container">
    <div class="btn-group">

    <button type="button" class="btn btn-primary"  ng-click="ui_edit_pdf_button()" title="Edit details of above pdf Template ">Edit pdf Template</button>

    <button type="button" class="btn btn-warning" 
    ng-click="pdf_view_cancel()" title="Return to previous page">Return</buton>


    </div>
  </div> 
</div>