
<!--    -->

<div class="row">
  <div class="col-md-3 col-sm-offset-1">
   
   <h2>Edit pdf Template</h2>
 </div>
</div>

<form class="white-row" name="pdf_add_form"  novalidate>
  <div class="form-body">

    <div class="row" >
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : pdf_add_form.et_name.$invalid && uidirty}">
          <label for="et_name">Template Name</label>
          <input type="text" class="form-control" name="et_name" id="et_name" ng-model="ui.et_name" placeholder="Please enter the name of the pdf Template" ng-required="true"/>
          <p ng-show="pdf_add_form.et_name.$invalid && uidirty" class="help-block">pdf Template name is required.</p>
        </div>
      </div>

    <div class="row">
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : pdf_add_form.et_product_name.$invalid && uidirty}">
          <label for="et_product_name">Product name</label>
          <input type="text" class="form-control" name="et_product_name" id="et_product_name" ng-model="ui.et_product_name" placeholder="Please enter product name for this pdf Template"  ng-required="true"/>
          <p ng-show="pdf_add_form.et_product_name.$invalid && uidirty" class="help-block">Enter a valid product name.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : pdf_add_form.et_website_name.$invalid && uidirty}">
          <label for="et_website_name">Website name</label>
          <input type="text" class="form-control" name="et_website_name" id="et_website_name" ng-model="ui.et_website_name" placeholder="Please enter the pdf Template Repository" ng-required="true"/>
          <p ng-show="pdf_add_form.et_website_name.$invalid && uidirty" class="help-block">pdf_ Repo is Required.</p>
        </div>
      </div>

<!--     </div>
    <div class="row">
 -->
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : pdf_add_form.et_subject.$invalid && uidirty}">
          <label for="et_subject">Subject</label>
          <input type="text" class="form-control" name="et_subject" id="et_subject" ng-model="ui.et_subject" placeholder="Please enter the pdf subject" ng-required="true"/>
          <p ng-show="pdf_add_form.et_subject.$invalid && uidirty" class="help-block">pdf subject is Required.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : pdf_add_form.et_from_address.$invalid && uidirty}">
          <label for="et_from_address">From address</label>
          <input type="text" class="form-control" name="et_from_address" id="et_from_address" ng-model="ui.et_from_address" placeholder="Please enter the From address" ng-required="true"/>
          <p ng-show="pdf_add_form.et_from_address.$invalid && uidirty" class="help-block">Enter a valid From address.</p>
        </div>
      </div>

<!--     </div>
    <div class="row"> -->


      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : pdf_add_form.et_smtp_id.$invalid && uidirty}">
          <label for="et_smtp_id">Smtp ID</label>
          <input type="text" class="form-control" name="et_smtp_id" id="et_smtp_id" ng-model="ui.et_smtp_id" placeholder="Please enter the smtp ID" ng-required="true"/>
          <p ng-show="pdf_add_form.et_smtp_id.$invalid && uidirty" class="help-block">Enter a valid smtp ID.</p>
        </div>
      </div>

    </div>
    <div class="row">


      <div class="col-md-10 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : pdf_add_form.et_body.$invalid && uidirty}">
          <label for="et_body">Body</label>
          <textarea rows="20" cols="100" class="form-control" name="et_body" id="et_body" ng-model="ui.et_body" placeholder="Please enter the body of the pdf template" ng-required="true"/> </textarea>
          <p ng-show="pdf_add_form.et_body.$invalid && uidirty" class="help-block">Enter the body of the pdf template</p>
        </div>
      </div>
    </div>

    <div class="col-md-1 col-sm-offset-1">
      <div class="container">
        <div class="btn-group">

          <button  class="btn btn-primary" ng-disabled="pdf_add_form.$invalid" 
          title="Submit this pdf Template to the database" ng-click="pdf_add_submit(pdf_add_form.$valid)">Submit</button>

          <button class="btn btn-warning" 
          title="Abort adding the pdf Template" ng-click="pdf_add_cancel()">Cancel</button>

          <button class="btn btn-default" 
          ng-click="pdf_add_clear()" title="Clear all fields except Owner" >&nbsp&nbspClear&nbsp&nbsp</button>

          <!-- The following should be ommitted in a production release -->
          <button  class="btn btn-info" title="Populate the fields with sensible details for testing purposes" ng-click="pdf_add_populate()">Populate</button>
        </div>
      </div> 
    </div>
  </div>
</form>




<!--    -->

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
   
   <h2>Edit pdf Template</h2>
 </div>
</div>

<form class="white-row" name="webEditForm"  novalidate>
  <div class="form-body">

      <div class="row" >
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : webEditForm.webName.$invalid && uidirty}">
          <label for="webName">pdf Template Name</label>
          <input type="text" class="form-control" name="webName" id="webName" ng-model="ui.webName" placeholder="Please enter the name of the pdf Template" ng-required="true"/>
          <p ng-show="webEditForm.webName.$invalid && uidirty" class="help-block">pdf Template Name is Required.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : webEditForm.webOwner.$invalid && uidirty}">
          <label for="webOwner">Owner pdf address</label>
          <input type="pdf" class="form-control" name="webOwner" id="webOwner" ng-model="ui.webOwner" ng-required="true"/>
          <p ng-show="webEditForm.webOwner.$invalid && uidirty" class="help-block">Enter a valid Owner pdf address.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : webEditForm.webUrl.$invalid && uidirty}">
          <label for="webUrl">pdf Template URL</label>
          <input type="text" class="form-control" name="webUrl" id="webUrl" ng-model="ui.webUrl" placeholder="Please enter the pdf Template URL" ng-required="true"/>
          <p ng-show="webEditForm.webUrl.$invalid && uidirty" class="help-block">pdf Template URL is Required.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : webEditForm.webCat.$invalid && uidirty}">
          <label for="webCat">Category</label>
          <input type="text" class="form-control" name="webCat" id="webCat" ng-model="ui.webCat" placeholder="Please enter a category for this pdf Template"  ng-required="true"/>
          <p ng-show="webEditForm.webCat.$invalid && uidirty" class="help-block">Enter a valid category.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : webEditForm.webRepo.$invalid && uidirty}">
          <label for="webRepo">Web Repository</label>
          <input type="text" class="form-control" name="webRepo" id="webRepo" ng-model="ui.webRepo" placeholder="Please enter the pdf Template Repository" ng-required="true"/>
          <p ng-show="webEditForm.webRepo.$invalid && uidirty" class="help-block">Web Repo is Required.</p>
        </div>
      </div>

<!--     </div>
    <div class="row">
 -->
      <div class="col-md-3 ">
        <div class="form-group" ng-class="{ 'has-error' : webEditForm.apiRepo.$invalid && uidirty}">
          <label for="apiRepo">Api Repository</label>
          <input type="text" class="form-control" name="apiRepo" id="apiRepo" ng-model="ui.apiRepo" placeholder="Please enter the Api Repository" ng-required="true"/>
          <p ng-show="webEditForm.apiRepo.$invalid && uidirty" class="help-block">Api Repo is Required.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : webEditForm.webSvrAdr.$invalid && uidirty}">
          <label for="webSvrAdr">Web Server Address</label>
          <input type="text" class="form-control" name="webSvrAdr" id="webSvrAdr" ng-model="ui.webSvrAdr" placeholder="Please enter the Server Address" ng-required="true"/>
          <p ng-show="webEditForm.webSvrAdr.$invalid && uidirty" class="help-block">Enter a valid Web Server Address.</p>
        </div>
      </div>

<!--     </div>
    <div class="row"> -->


      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : webEditForm.apiSvrAdr.$invalid && uidirty}">
          <label for="apiSvrAdr">Api Server Address</label>
          <input type="text" class="form-control" name="apiSvrAdr" id="apiSvrAdr" ng-model="ui.apiSvrAdr" placeholder="Please enter the Server Path" ng-required="true"/>
          <p ng-show="webEditForm.apiSvrAdr.$invalid && uidirty" class="help-block">Enter a valid Api Server Address.</p>
        </div>
      </div>

<!--     </div>
    <div class="row"> -->


      <div class="col-md-3 ">
        <div class="form-group" ng-class="{ 'has-error' : webEditForm.apiPort.$invalid && uidirty}">
          <label for="apiPort">Api Server Port number</label>
          <input type="text" class="form-control" name="apiPort" id="apiPort" ng-model="ui.apiPort" placeholder="Please enter the Server Port number" ng-required="true"/>
          <p ng-show="webEditForm.apiPort.$invalid && uidirty" class="help-block">Enter a valid Api Server Port number.</p>
        </div>
      </div>
    </div>

    <div class="col-md-1 col-sm-offset-1">
      <div class="container">
        <div class="btn-group">

          <button  class="btn btn-primary" ng-disabled="webEditForm.$invalid" 
          title="Submit changes to this pdf Template to the database" ng-click="web_edit_submit(webEditForm.$valid)">Submit</button>

          <button class="btn btn-warning" 
          title="Abort editing the pdf Template" ng-click="web_edit_cancel()">Cancel</button>

          <button class="btn btn-default" 
          ng-click="web_edit_clear()" title="Clear all fields except Owner" >&nbsp&nbspClear&nbsp&nbsp</button>

          <!-- The following should be ommitted in a production release -->
         <!--  <button  class="btn btn-info" title="Populate the fields with sensible details for testing purposes" ng-click="webAddPopulate()">Populate</button> -->
        </div>
      </div> 
    </div>
  </div>
</form>



