
<!-- pdfs.html   -->

<style>
  .gridpdfsList {
    border: 2px solid rgb(200,200,250);
    width: 100%;
    height: 280px;
  }
</style>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <h2>pdf Templates</h2>
  </div>
</div>

<div class="row">
  <!-- <div class="col-md-2 col-md-offset-0"> -->
      <!-- <p>Search fields come here</p> -->
      <!-- <p>&nbsp;</p> -->
      <div class="col-md-2 col-md-offset-1">

      <button class="btn btn-primary" title="Search or refresh pdf Templates according to the filter" ng-click="ui_get_pdfs_button()">Search / Refresh</button>
      </div>
  

<!-- <div class="row"> -->
  <div class="col-md-4 col-md-offset-0">
    <div class="form-group" >
      <div class="input-group">
        <span class="input-group-addon">Filter</span>
        <input type="text" class="form-control" ng-model="grid_filter_options.filterText" title="Enter a search criterion" placeholder="filter ...">
      </div>
    </div>
  </div>
  <p>&nbsp;</p>
  </div>
<!--    -->

  <div class="col-md-11 col-md-offset-1">
    <div class="gridpdfsList"  ng-grid="grid_options" ></div>
  </div>
<!-- </div> -->
