<!DOCTYPE html>
<html>
<head>
  <title>Memberbase Admin</title><meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <meta name="robots" content="noindex"/>
  <!-- <link rel="shortcut icon" href="images/mba.jpg"/> -->

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css"

  <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="css/ng-grid.min.css">

  <link type="text/css" rel="stylesheet" href="css/login.css">


  <style>
    .ttips{
      margin: 60px;
    }


    .navbar-collapse ul {
      margin-top: 20px;
    }

    .logo {
      float: left;
    }

    .mypointer {
      cursor: pointer;
    }

    .sur {float: left;}
  </style>

</head>

<body ng-app="main_app">

  <div class="navbar navbar-default">

    <a class="logo"><img src="images/mb01-120.jpg" href="#" class="img-responsive"></a>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!-- if the page is small, draw the three horisontal little lines 
          at the top right of the page in the place of the menu items  -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="content_navbar" ng-controller="menu_controller">
        <ul class="nav navbar-nav pull-right">

          <!-- if not signed in, show/go to landing_button() -->
          <li class="active mypointer" id="navli_landing" ng-show="!session.authed"><a ng-click="landing_button()"  title="Go to home page">Home</a></li>

          <!-- if signed in, show/go to landing1_button()   -->
          <li class="mypointer" id="navli_landing1" ng-show="session.authed"><a ng-click="landing1_button()"  title="Go to home page">Home.</a></li>

         <li class="nav-item dropdown" id="navli_profile" ng-show="session.authed">
          <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#"
          title="View / edit the profile of the logged in user">{{rs.session.username}} <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">

           <li class="mypointer" id="navli_view_profile"><a ng-click="profile_button(rs.session.person_id)" title="View the profile of the logged in user">View  profile</a></li>

           <li class="mypointer" id="navli_edit" ng-show="!$rootScope.profile_view"><a ng-click="edit_person_button(rs.session.person_id)" title="Edit the profile of the logged in user">Edit profile</a></li>

         </ul>
       </li>



          <!-- if signed in, show/go to persons_button()  -->
          <li class="mypointer" id="navli_persons" ng-show="session.authed"><a ng-click="persons_button()"  title="View list of registered users">Users</a></li>


          <!-- if signed in, show/go to websites_button()  -->

          <li class="nav-item dropdown" id="navli_websites" ng-show="session.authed">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#"
            title="View / add websites">Websites<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">

             <li class="mypointer" id="navli_view_websites"><a ng-click="websites_button()" title="View the registered websites of the logged in user">View websites</a></li>

             <li class="mypointer" id="navli_add_websites" ><a ng-click="add_websites_button()" title="Add a new website for the logged in user">Add Website</a></li>

           </ul>
         </li>


          <!-- if signed in, show/go to emails_btn()  -->

          <li class="nav-item dropdown" id="navli_emails" ng-show="session.authed">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#"
            title="View / add email templates">Emails<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">

             <li class="mypointer" id="navli_view_emails"><a ng-click="emails_button()" title="View the registered email templates of the logged in user">View email templates</a></li>

             <li class="mypointer" id="navli_add_emails" ><a ng-click="add_email_button()" title="Add a new email template for the logged in user">Add email template</a></li>

           </ul>
         </li>

         <!-- if signed in, show/go to emails_btn()  -->

          <li class="nav-item dropdown" id="navli_pdfs" ng-show="session.authed">
            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#"
            title="View / add pdf templates">pdfs<i class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu">

             <li class="mypointer" id="navli_view_pdfs"><a ng-click="pdfs_button()" title="View the registered pdf templates of the logged in user">View pdf templates</a></li>

             <li class="mypointer" id="navli_add_pdfs" ><a ng-click="add_pdf_button()" title="Add a new pdf template for the logged in user">Add pdf template</a></li>

           </ul>
         </li>



         <!-- if signed in, show/go to login_button()  -->
         <li class="mypointer" id="navli_login" ng-show="!session.authed"><a ng-click="login_button()" title="Log in to view website data">Login</a></li>

         <!-- if not signed in, show/go to register_button()  -->
         <li class="mypointer" id="navli_register" ng-show="!session.authed"><a ng-click="register_button()" title="Register a new User">Register</a></li>


      <!-- if signed in, show/go to logout_button()  -->
      <li class="mypointer" id="navli_logout"  ng-show="session.authed"><a ng-click="logout()" title="Terminate session for current user">Logout</a></li>

      <!-- go to contact_button()   -->
      <li class="mypointer" id="navli_contact" ><a ng-click="contact_button()"  title="Go to Contact page">Contact</a></li>

    </ul>
  </div>
</div>

<div class="container-fluid">
  <ng-view>

</ng-view>
</div>
<script type="text/javascript" src="lib/jquery.min.js"></script>
<script type="text/javascript" src="lib/bootstrap.min.js"></script>
<script type="text/javascript" src="lib/bootstrap-hover-dropdown.min.js"></script> 
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-route.min.js"></script>
<script type="text/javascript" src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>

<script type="text/javascript" src="lib/ng-grid-2.0.11.min.js"></script>

<script type="text/javascript" src='lib/lodash.underscore.min.js'></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/init.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/menu.js"></script>

<script type="text/javascript" src="src/landing/landing.js"></script>
<script type="text/javascript" src="src/login/login.js"></script>
<script type="text/javascript" src="src/register/register.js"></script>
<script type="text/javascript" src="src/persons/persons.js"></script>
<script type="text/javascript" src="src/websites/websites.js"></script>
<script type="text/javascript" src="src/profile/profile.js"></script>
<script type="text/javascript" src="src/contact/contact.js"></script>
<script type="text/javascript" src="src/emails/emails.js"></script>
<script type="text/javascript" src="src/pdfs/pdfs.js"></script>



</body>
</html>