
<!--   Simple html that uses angular to display a link (ng-href="#/websites")    -->

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Add a Websites</h2>
  </div>
</div>

<div class="row" >
  <div class="col-md-10 col-sm-offset-1">
    <h4>
      Thank you for adding a website. <a ng-href="#/websites" title="Click here to view the list of websites" >You can now view details about your websites.</a>
    </h4>
  </div>
</div>



