<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Website</h2>

<!--   Displaying the selected websites detail as JSON, the controller used is website_controller found in the websites.js file as linked by the app.js file, the function used to connect to the back-ed is  ui_get_website_button -->

    <pre ng-bind="ui | json" ></pre>		
  </div>
</div>

<!--   An Edit button that calls the function ui_edit_website_button(), that is found in the websites.js file under the website controller, that changes the location to ('/website_edit/' + $scope.ui._id), which in turn alerts the app.js file to redirect the browser to src/websites/website_edit.html and look in the edit_website_controller found in the websites.js file for instructions  -->

<!-- <div class="row">
  <div class="col-md-10 col-md-offset-1">
      <button type="button" class="btn btn-primary" ng-click="ui_edit_website_button()">Edit Website</button>						
  </div>
</div>
 -->

<div class="col-md-1 col-sm-offset-1">
  <div class="container">
    <div class="btn-group">

    <button type="button" class="btn btn-primary"  ng-click="ui_edit_website_button()" title="Edit details of above website ">Edit website</button>

    <button type="button" class="btn btn-warning" 
    ng-click="website_view_cancel()" title="Return to previous page">Return</button>


    </div>
  </div> 
</div>