
<!--    -->

<div class="row">
  <div class="col-md-3 col-sm-offset-1">
   
   <h2>Add Website</h2>
 </div>
</div>

<form class="white-row" name="webAddForm"  novalidate>
  <div class="form-body">

    <div class="row" >
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : webAddForm.webName.$invalid && uidirty}">
          <label for="webName">Website Name</label>
          <input type="text" class="form-control" name="webName" id="webName" ng-model="ui.webName" placeholder="Please enter the name of the website" ng-required="true"/>
          <p ng-show="webAddForm.webName.$invalid && uidirty" class="help-block">Website Name is Required.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : webAddForm.webOwner.$invalid && uidirty}">
          <label for="webOwner">Owner email address</label>
          <input type="email" class="form-control" name="webOwner" id="webOwner" ng-model="ui.webOwner" ng-required="true"/>
          <p ng-show="webAddForm.webOwner.$invalid && uidirty" class="help-block">Enter a valid Owner email address.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : webAddForm.webUrl.$invalid && uidirty}">
          <label for="webUrl">Website URL</label>
          <input type="text" class="form-control" name="webUrl" id="webUrl" ng-model="ui.webUrl" placeholder="Please enter the website URL" ng-required="true"/>
          <p ng-show="webAddForm.webUrl.$invalid && uidirty" class="help-block">Website URL is Required.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : webAddForm.webCat.$invalid && uidirty}">
          <label for="webCat">Category</label>
          <input type="text" class="form-control" name="webCat" id="webCat" ng-model="ui.webCat" placeholder="Please enter a category for this website"  ng-required="true"/>
          <p ng-show="webAddForm.webCat.$invalid && uidirty" class="help-block">Enter a valid category.</p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : webAddForm.webRepo.$invalid && uidirty}">
          <label for="webRepo">Web Repository</label>
          <input type="text" class="form-control" name="webRepo" id="webRepo" ng-model="ui.webRepo" placeholder="Please enter the website Repository" ng-required="true"/>
          <p ng-show="webAddForm.webRepo.$invalid && uidirty" class="help-block">Web Repo is Required.</p>
        </div>
      </div>

<!--     </div>
    <div class="row">
 -->
      <div class="col-md-3 ">
        <div class="form-group" ng-class="{ 'has-error' : webAddForm.apiRepo.$invalid && uidirty}">
          <label for="apiRepo">Api Repository</label>
          <input type="text" class="form-control" name="apiRepo" id="apiRepo" ng-model="ui.apiRepo" placeholder="Please enter the Api Repository" ng-required="true"/>
          <p ng-show="webAddForm.apiRepo.$invalid && uidirty" class="help-block">Api Repo is Required.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : webAddForm.webSvrAdr.$invalid && uidirty}">
          <label for="webSvrAdr">Web Server Address</label>
          <input type="text" class="form-control" name="webSvrAdr" id="webSvrAdr" ng-model="ui.webSvrAdr" placeholder="Please enter the Server Address" ng-required="true"/>
          <p ng-show="webAddForm.webSvrAdr.$invalid && uidirty" class="help-block">Enter a valid Web Server Address.</p>
        </div>
      </div>

<!--     </div>
    <div class="row"> -->


      <div class="col-md-3">
        <div class="form-group" ng-class="{ 'has-error' : webAddForm.apiSvrAdr.$invalid && uidirty}">
          <label for="apiSvrAdr">Api Server Address</label>
          <input type="text" class="form-control" name="apiSvrAdr" id="apiSvrAdr" ng-model="ui.apiSvrAdr" placeholder="Please enter the Server Path" ng-required="true"/>
          <p ng-show="webAddForm.apiSvrAdr.$invalid && uidirty" class="help-block">Enter a valid Api Server Address.</p>
        </div>
      </div>

<!--     </div>
    <div class="row"> -->


      <div class="col-md-3 ">
        <div class="form-group" ng-class="{ 'has-error' : webAddForm.apiPort.$invalid && uidirty}">
          <label for="apiPort">Api Server Port number</label>
          <input type="text" class="form-control" name="apiPort" id="apiPort" ng-model="ui.apiPort" placeholder="Please enter the Server Port number" ng-required="true"/>
          <p ng-show="webAddForm.apiPort.$invalid && uidirty" class="help-block">Enter a valid Api Server Port number.</p>
        </div>
      </div>
    </div>

    <div class="col-md-1 col-sm-offset-1">
      <div class="container">
        <div class="btn-group">

          <button  class="btn btn-primary" ng-disabled="webAddForm.$invalid" 
          title="Submit this website to the database" ng-click="web_add_submit(webAddForm.$valid)">Submit</button>

          <button class="btn btn-warning" 
          title="Abort adding the website" ng-click="web_add_cancel()">Cancel</button>

          <button class="btn btn-default" 
          ng-click="web_add_clear()" title="Clear all fields except Owner" >&nbsp&nbspClear&nbsp&nbsp</button>

          <!-- The following should be ommitted in a production release -->
          <button  class="btn btn-info" title="Populate the fields with sensible details for testing purposes" ng-click="web_add_populate()">Populate</button>
        </div>
      </div> 
    </div>
  </div>
</form>



