<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Contact us</h2>
  </div>
</div>

<div class="row" >
  <div class="col-md-10 col-sm-offset-1">
    <h4>
      Thanks for your email. We will attend to it shortly.
    </h4>  
  </div>
</div>



