<!--     Contact.html    -->


<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Contact us</h2>
  </div>
</div>

<form class="white-row" name="contactForm"  novalidate>
  <div class="form-body">

    <div class="row" >
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : contactForm.contactname.$invalid && uidirty}">
          <label for="contactname">Contact name</label>
          <input type="text" class="form-control" name="contactname" id="contactname" ng-model="ui.contactname" placeholder="Please enter your contact name" ng-required="true" title="Please enter your contact name"/>
          <p ng-show="contactForm.contactname.$invalid && uidirty" class="help-block">Contact name is Required.</p>
        </div>
      </div>
      
      <div class="col-md-3 col-sm-offset-0">
        <div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && uidirty}">
          <label for="email_id">Email address</label>
          <input type="email" class="form-control" name="email" id="email_id" ng-model="ui.email" placeholder="Please enter your email address" ng-required="true" title="Please enter your email address" />
          <p ng-show="contactForm.email.$invalid && uidirty" class="help-block">A valid email address is requires.</p>
        </div>
      </div>
<!--     </div>

    <div class="row" > -->
      <div class="col-md-3 col-sm-offset-0">
        <div class="form-group" ng-class="{ 'has-error' : contactForm.subject.$invalid && uidirty}">
          <label for="subject_id">Subject</label>
          <input type="text" class="form-control" name="subject" id="subject_id" ng-model="ui.subject" placeholder="Please enter a subject for your message" ng-required="true" title="Please enter a subject for your message"/>
          <p ng-show="contactForm.subject.$invalid && uidirty" class="help-block">A subject line for your message is required.</p>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-3 col-sm-offset-1">
        <div class="form-group">
          <label for="id_copy">Send a copy to myself</label>
          <input type="checkbox" name="name_copy" id="id_copy" ng-model="ui.contact_copy" /> 
        </div>
      </div>

      <div class="col-md-6 col-sm-offset-0">
        <div class="form-group" ng-class="{ 'has-error' : contactForm.ta_name.$invalid && uidirty}">
          <label for="ta_id">Comments:</label>
          <textarea class="form-control" rows="4" cols="50" id="ta_id" 
          name="ta_name"
          ng-model="ui.message"
          placeholder="Enter your message here"
          maxlength="500"
          ng-required="true"
          title="Enter message here">
        </textarea> 
      </div>
    </div>
  </div> <!-- Closes the row div -->

  <div class="col-md-5 col-sm-offset-3">
    <div class="container">
      <div class="btn-group">

        <button type="button" class="btn btn-primary" ng-disabled='contactForm.$invalid'
        ng-click="contact_submit_btn(contactForm.$valid)" title="Submit the above email">Submit</button>

        <button type="button" class="btn btn-warning" 
        ng-click="contact_cancel_btn()" title="Abort sending an email" >&nbspCancel&nbsp</button>

        <button class="btn btn-info" 
        ng-click="contact_clear_btn()" 
        title="Clear all fields of the form" >
        &nbsp&nbspClear&nbsp&nbsp
      </button>

      <button class="btn btn-default" 
      ng-click="contact_populate_btn()" title="Populate fields with test values" >Populate</button>

    </div>
  </div> 
</div> 

</form>

