<!-- login.html -->

<div id="wrapper">
  <section class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-md-offset-3">
        <h2 class="text-center">Sign in to Websites</h2>     

        <!-- Draw a nice box  "account-wall" definition is in login.css file- -->
        <div class="account-wall">
          <!-- <img class="profile-img" src="images/loginphoto.png" alt=""> -->
          <form class="form-signin" name="loginForm" novalidate>

            <input type="email" class="form-control" id="email" ng-model="ui.email" placeholder="Enter email address" ng-required="true" autofocus>            

            <input type="password" class="form-control" id="password" ng-model="ui.password" placeholder="Password" ng-required="true">
            <div class="row">
              <div class="col-md-1 col-md-offset-1">
                <div class="container">
                  <div class="btn-group">

                    <button class="btn btn-primary" ng-disabled="loginForm.$invalid" 
                    ng-click="ui_login_submit()" title="Login with above credentials">&nbspLogin&nbsp</button>

                    <button  class="btn btn-warning" 
                    ng-click="login_cancel_button()" title="Revert back to Home page">Cancel</button>

                    <button class="btn btn-default" 
                    ng-click="login_clear_button()" title="Clear all input fields">&nbspClear&nbsp</button>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
            <div class="col-md-1 col-md-offset-1">
                <div class="container">
                  <div class="btn-group">
                    <!-- The following should be ommitted in a production release -->
                    <button type="button" class="btn btn-info" ng-click="ui_login_submit_super()" title="Temporary Sign in shortcut for Super User">&nbsp&nbspSuperUser</button>

                    <button type="button" class="btn btn-info" ng-click="ui_login_submit_admin()" title="Temporary Sign in shortcut for Ad Min">&nbsp&nbsp&nbsp&nbspAdmin&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                  </div>
                </div> 
              </div>

            </div>


          </form>
        </div>
      </div>
    </div>
  </section>
</div>

