<style>
  .gridPersonsList {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 300px;
  }
</style>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Users</h2>
  </div>
</div>


<div class="row">
  <div class="col-md-2 col-md-offset-1">

    <!-- <p>&nbsp;</p> -->
    <button class="btn btn-primary" title="Search or refresh users according to the filter" ng-click="ui_search_persons_button()">Search / Refresh</button>
  </div>

  <div class="col-sm-3 col-md-offset-0">
    <div class="form-group" >
      <div class="input-group">
        <span class="input-group-addon">Filter</span>
        <input type="text" class="form-control" ng-model="grid_filter_options.filterText" title="Enter a search criterion" placeholder="filter ...">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-md-offset-1">

    <p>NB! - To view, delete or edit a user you must be signed in as a superuser.</p>
<!--     <p>NB! - To view, delete or edit a user you must be signed in as a superuser. &nbsp;</p>
 -->    
    <div class="col-md-10 col-md-offset-0">
      <div class="gridPersonsList"  ng-grid="grid_options" ></div>
    </div>
  </div>
</div>







