<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Edit User Profile</h2>

  </div>
</div>

<form class="white-row" name="persForm"  novalidate>
  <div class="form-body">

    <div class="row" >
      <div class="col-md-5 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : persForm.firstname.$invalid && uidirty}">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" name="firstname" id="firstname" ng-model="ui.firstname" ng-required="true"/>
          <p ng-show="persForm.firstname.$invalid && uidirty" class="help-block">First Name is Required.</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group" ng-class="{ 'has-error' : persForm.lastname.$invalid && uidirty}">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" name="lastname" id="lastname" ng-model="ui.lastname" ng-required="true"/>
          <p ng-show="persForm.lastname.$invalid && uidirty" class="help-block">Last Name is Required.</p>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-5 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : persForm.email.$invalid && uidirty}">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" ng-model="ui.email" ng-required="true"/>
          <p ng-show="persForm.email.$invalid && uidirty" class="help-block">Enter a valid email.</p>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group" ng-class="{ 'has-error' : persForm.password.$invalid && uidirty}">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" ng-model="ui.password" ng-required="true"/>
          <p ng-show="persForm.password.$invalid && uidirty" class="help-block">Enter a valid password.</p>
        </div>
      </div>
    </div>
    <!-- <pre ng-bind="ui | json" ></pre> -->
    <!-- <div class="row">
      <div class="col-md-5 col-sm-offset-1">
        <div class="form-group"  
        ng-class="{ 'has-error' : persForm.sup.$invalid && uidirty}">
        <label ng-show="su" for="sup">Superuser</label>
        <input type="text" class="form-control" name="sup" id="sup" ng-model="ui.superuser" ng-required="false" ng-show="su">

      </div>
    </div> -->

    <div class="row" >
      <div class="col-md-5 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : persForm.sup.$invalid && uidirty}">
        <label ng-show="su" for="sup">Superuser</label>
        <input type="checkbox" class="checkbox" name="sup" id-"sup" ng-model="ui.superuser" ng-show="su">
        
      </div>
    </div>
  </div>

  <div class="col-md-2 col-sm-offset-2">
    <div class="container">
      <div class="btn-group">

        <button type="button" class="btn btn-primary" ng-disabled="persForm.$invalid" 
        ng-click="ui_edit_person_submit(persForm.$valid)" title="Submit user profile to database">Submit</button>

        <button type="button" class="btn btn-warning" 
        ng-click="ui_edit_person_cancel()" title="Abort editing this user">Cancel</button>

        <button type="button" class="btn btn-default" 
        ng-click="ui_edit_person_clear()" title="Clear all fileds">Clear</button>







      </div>
    </div> 
  </div>

<!-- 
    <div class="row" >
      <div class="col-md-5 col-sm-offset-1">
        <button class="btn btn-primary" ng-click="ui_edit_person_submit(persForm.$valid)">Continue</button>
      </div>
    </div>
  -->
</div>
</form>



