<!-- person.html

This file is loaded if 
1. the 'open' button is clicked on the Persons grid
2. the 'view profile' option is chosen on the home page
   under the loged in oerson's name in the navbar
  -->


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>User Profile</h2>

    <pre ng-bind="ui | json" ></pre>
    <!-- <p  ng-bind="ui | json" ></p> -->
  </div>
</div>

<div class="col-md-1 col-sm-offset-1">
  <div class="container">
    <div class="btn-group">

    <button type="button" class="btn btn-primary" ng-show="!$rootScope.profile_view" ng-click="ui_edit_person_button()" title="Edit profile of above user">Edit User</button>

    <button type="button" class="btn btn-warning" 
    ng-click="view_profile_return()" title="Return to previous page">Return</button>


    </div>
  </div> 
</div>