<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Registration</h2>
  </div>
</div>

<form class="white-row" name="regForm"  novalidate>
  <div class="form-body">

    <div class="row" >
      <div class="col-md-5 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : regForm.firstname.$invalid && uidirty}">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" name="firstname" id="firstname" ng-model="ui.firstname" placeholder="Please enter your first name" ng-required="true"/>
          <p ng-show="regForm.firstname.$invalid && uidirty" class="help-block">First Name is Required.</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group" ng-class="{ 'has-error' : regForm.lastname.$invalid && uidirty}">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" name="lastname" id="lastname" ng-model="ui.lastname" placeholder="Please enter your last name" ng-required="true"/>
          <p ng-show="regForm.lastname.$invalid && uidirty" class="help-block">Last Name is Required.</p>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-5 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid && uidirty}">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" ng-model="ui.email" placeholder="Please enter your email address" ng-required="true"/>
          <p ng-show="regForm.email.$invalid && uidirty" class="help-block">Enter a valid email.</p>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group" ng-class="{ 'has-error' : regForm.password.$invalid && uidirty}">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" ng-model="ui.password" placeholder="Please enter your password" ng-required="true"/>
          <p ng-show="regForm.password.$invalid && uidirty" class="help-block">Enter a valid password.</p>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-5 col-sm-offset-2">
        <div class="form-group" ng-class="{ 'has-error' : ui.invalid.accept_tac && uidirty}">
          <label class="checkbox persistent"><input type="checkbox" ng-model="ui.accept_tac"> I agree with the <b style="font-size:15px">Terms and Conditions</b> </label>
          <p ng-show="ui.invalid.accept_tac && uidirty" class="help-block">Accept T&amp;C.</p>
        </div>
      </div>
    </div>


 <div class="col-md-5 col-sm-offset-4">
    <div class="container">
      <div class="btn-group">

        <button type="button" class="btn btn-primary" 
        ng-click="reg_submit_btn(regForm.$valid)" ng-disabled="regForm.$invalid" title="Register the above profile">Register</button>



        <button type="button" class="btn btn-warning" 
        ng-click="reg_cancel_btn()" title="Abort registration" >&nbspCancel&nbsp</button>


        <button class="btn btn-info" 
        ng-click="reg_clear_btn()" title="Clear all fields of the profile" >&nbsp&nbspClear&nbsp&nbsp</button>

 <!--        <button type="button" class="btn btn-info" 
        ng-click="ui.firstname = ''" title="Clear all fields of the profile" >&nbsp&nbspClear&nbsp&nbsp</button>  
 -->

      </div>
    </div> 
  </div> 
  </div>
</form>



