
<!--   Simple html that uses angular to display a link (ng-href="#/emails")    -->

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Add an Email Template</h2>
  </div>
</div>

<div class="row" >
  <div class="col-md-10 col-sm-offset-1">
    <h4>
      Thank you for adding an Email Template. <a ng-href="#/emails" title="Click here to view the list of emails" >You can now view details about your Email Template.</a>
    </h4>
  </div>
</div>



