<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Email Template</h2>

<!--   Displaying the selected Email Templates detail as JSON, the controller used is email_controller found in the emails.js file as linked by the app.js file, the function used to connect to the back-end is  ui_get_email_button -->

    <pre ng-bind="ui | json" ></pre>		
  </div>
</div>

<!--   An Edit button that calls the function ui_edit_email_button(), that is found in the emails.js file under the email controller, that changes the location to ('/email_edit/' + $scope.ui._id), which in turn alerts the app.js file to redirect the browser to src/emails/email_edit.html and look in the edit_email_controller found in the emails.js file for instructions  -->

<!-- <div class="row">
  <div class="col-md-10 col-md-offset-1">
      <button type="button" class="btn btn-primary" ng-click="ui_edit_email_button()">Edit Email Template</button>						
  </div>
</div>
 -->

<div class="col-md-1 col-sm-offset-1">
  <div class="container">
    <div class="btn-group">

    <button type="button" class="btn btn-primary"  ng-click="ui_edit_email_button()" title="Edit details of above Email Template ">Edit Email Template</button>

    <button type="button" class="btn btn-warning" 
    ng-click="email_view_cancel()" title="Return to previous page">Return</buton>


    </div>
  </div> 
</div>