<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Edit {{rs.session.username}}</h2>
  </div>
</div>


<form class="white-row" name="profForm"  novalidate>
  <div class="form-body">

    <div class="row" >
      <div class="col-md-5 col-sm-offset-1">
        <div class="form-group" ng-class="{'has-error' : profForm.firstname.$invalid && uidirty}">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" name="firstname" id="firstname" ng-model="ui.firstname" ng-required="true"/>
          <p ng-show="profForm.firstname.$invalid && uidirty" class="help-block">First Name is Required.</p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group" ng-class="{ 'has-error' : profForm.lastname.$invalid && uidirty}">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" name="lastname" id="lastname" ng-model="ui.lastname" ng-required="true"/>
          <p ng-show="profForm.lastname.$invalid && uidirty" class="help-block">Last Name is Required.</p>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-5 col-sm-offset-1">
        <div class="form-group" ng-class="{ 'has-error' : profForm.email.$invalid && uidirty}">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" ng-model="ui.email" ng-required="true"/>
          <p ng-show="profForm.email.$invalid && uidirty" class="help-block">Enter a valid email.</p>
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group" ng-class="{ 'has-error' : profForm.password.$invalid && uidirty}">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" ng-model="ui.password" ng-required="true"/>
          <p ng-show="profForm.password.$invalid && uidirty" class="help-block">Enter a valid password.</p>
        </div>
      </div>
    </div>

    <div class="row" >
      <div class="col-md-5 col-sm-offset-1">
        <button class="btn btn-primary" ng-click="ui_edit_profile_submit(profForm.$valid)">Submit</button>
      </div>
    </div>

  </div>
</form>



