<!-- person.html

This file is loaded if the 'View [username] profile' button is clicked on
  the authed landing page  -->


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>Profile</h2>

    <pre ng-bind="ui | json" ></pre>


  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
      <button type="button" class="btn btn-primary" ng-click="ui_edit_profile_button()">Edit Profile</button>
  </div>
</div>